@media screen and (max-width: 360px) {
    .header-items-seven, .info, .cooperation, .working-hours, .location, .subheader-icons {
        display: none;
    }
    .more{
        display:block ;
    }
    .header{
        justify-content: flex-start;
        padding-left: 15px;
    }
    .header-items-three{
        margin: 0;
    }
}