@media screen and (max-width: 360px) {
    .header-items-seven, .info, .cooperation, .working-hours, .location, .subheader-icons, .line  {
        display: none;
    }
    .more{
        display:block ;
    }
    .header{
        justify-content: flex-start;
        padding-left: 15px;
    }
    .header-items-three{
        margin: 0;
    }
}
@media screen and (max-width: 360px) {
    .subheader-one {
        width: 100%;
        position: relative;
        justify-content: flex-start;
        margin-left: 15px;
        margin-top: 20px;
        column-gap: 45px;
    }
}

@media screen and (max-width: 360px) {
.logo-items {
    width: 165px;
}

.logo-items > img {
    width: 36.78px;
    height: 40.2px;
}

.logo-items > h6 {
    font-size: 16px;
    font-weight: 500;
}

.logo-items > p {
    font-size: 4px;
    line-height: 6px;
    font-weight: 600;
}

.phone-number > h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.phone-number > p {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}

.whatsapp {
    position: absolute;
    left: 190px;
    top: 45px;
    width: 132px;
    height: 18px;
}

.whatsapp-icons p {
    font-size: 10px;
    line-height: 12px;
}

.whatsapp-icons > p > span {
    display: none;
}

.whatsapp-icons > img {
    width: 10px;
    height: 10px;
}

.sb-two.btn-primary {
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    padding: 0;
    background-color: #005BB9;
}

.sb-two.btn-primary > span {
    display: none;

}

.search.sb-two {
    width: 237px;
    height: 34px;

}

.bootstrap-buttons {
    margin-left: 15px;
    display: flex;
    align-items: baseline;
}

.btn-outline-secondary.sb-two {
    width: 34px;
    height: 38px;
    background: #005BB9;
    border-radius: 0 4px 4px 0;
}

.input-group > input {
    font-size: 12px;
    line-height: 14px;
}

.input-group > input > span {
    display: none;
}

.btn-outline-secondary.sb-two > span {
    display: none;
}





.products {
    flex-direction: column;
    margin-top: 15px;
    row-gap: 10px;
    margin-bottom: 30px;
}

.products-sale {
    flex-direction: row;
}

.products-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 195px;
}

.products-slide > img {
    width: 290px;
    height: 195px;
}

.subheader {
    height: auto;
}

.products-info-btn > button {
    bottom: 150px;
    width: 124px;
    height: 34px;
    box-sizing: border-box;
}

.products-info-title1 > h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.products-info-title1 {
    width: 144px;
    height: 19px;
}

.products-info-title2 > h2 {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.products-info-title2 {
    width: 59px;
    height: 12px;
    margin-bottom: 5px;
}

.products-info-price > p {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.products-info-price > p > span {
    display: none;
}

.products-info-price-mobile {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.slide-btn {
    display: none;
}

.products-slide-info {
    width: 144px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    justify-content: space-between;
}

.products-slide-img > img {
    width: 131px;
    height: 111px;
}

.products-slide-wrap {
    justify-content: space-between;
    align-items: start;
    margin-left: -30px;
    margin-top: -30px;
}

.products-info-price {
    height: 23px;
    margin-bottom: 5px;
}

.products-slide-scroll {
    position: absolute;
    bottom: 10px;
    width: 72px;
}
.point {
    width: 12px;
    height: 12px;
}



.products-sale{
    column-gap: 10px;
}
.products-sale-item{
    width: 250px;
    height: 145px;

}
.sale-item-img >img{
    width: 58px;
    height: 54px;
}
.sale-item-img{
    height: 54px;
}
.products-sale-item-promo{
    margin-bottom: 5px;
}
.products-sale-item-info{
    column-gap: 10px;

}
.sale-item-header > h1{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
.sale-item-header > h2{
    font-size: 10px;
    line-height: 12px;
    margin: 0;
}
.sale-item-price > p {
    font-size: 14px;
    line-height: 16px;
}
.sale-item-price > p > span {
    font-size: 12px;
    line-height: 14px;
}
.products-sale-item-buy > button {
    width: 32px;
    height: 32px;
}


.categories-slide {
    justify-content: flex-start;
    column-gap: 10px;
    margin-bottom: 30px;
}
.categories-item{
    width: 250px;
    height: 126px;
}


@media screen and (max-width: 360px) {
    .footer {
        width: 320px;
        height: 1072px;
    }
@media screen and (max-width: 360px) {

    .footer-items-three, .footer-items-two {

        display: flex;
        flex-direction: column;
        background-color: #0C1A2A;
        row-gap: 15px;
        margin-left: 15px;

    }


    .footer-column > h6 {
        color: #868DAC;
        font-size: 14px;
        line-height: 16px;
    }

    .footer-column > p {
        font-size: 12px;
        line-height: 14px;
    }


    .footer-column p > span {
        font-size: 14px;
        line-height: 16.41px;

    }

    .subscription-button {
        width: 290px;
        height: 20px;
        border-radius: 6px;

    }

    .social {
        display: flex;
        justify-content: center;
        position: relative;
        right: 180px;
        top: 10px;
    }

    @media screen and (max-width: 360px) {
        .main-box, .data-box {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
    }

    .box-content::before {
        display: none;
    }