
.container {
    width: 600px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10%;
    box-sizing: border-box;

}

.header {
    width: 410px;
    height: 100px;
    background: yellowgreen;
    border: solid;
    margin: 4px;
    text-align: center;
}

.main_menu {
    display: flex;
}

.menu_block {
    width: 150px;
    height: 200px;
    background: palevioletred;
    margin-left: 3px;
    border: solid;
    text-align:  center;

}
.posts {
    display: flex;
    flex-direction: column;
}

.post1 {
    width: 190px;
    height: 90px;
    background: deepskyblue;
    margin: 4px;
    border: solid;
    text-align:  center;


}
.post2 {

    width: 190px;
    height: 90px;
    background: deepskyblue;
    margin: 5px;
    border: solid;
    text-align:  center;

}
.footer {
    width: 410px;
    height: 100px;
    background: yellowgreen;
    border: solid;

}